@page
@model PineriverASPNETPage.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["PageDesc"] = "CS:GO GAMING COMMUNITY";

}


<partial name="~/Pages/Shared/_LoginPartial.cshtml" />

<div class="container">
    <div class="row mr-auto align-content-center">
        @foreach (var item in Model.Posts)
        {
            <div class="col-sm-12 card-container align-center">
                <div class="card custom-post-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5>@item.Post_Subject</h5>
                            </div>

                            <div class="col-sm-6 text-right">
                                <i>@item.Post_Created</i>
                            </div>
                        </div>

                        <p>@item.Post_Message</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="fas fa-thumbs-up" title="@item.Post_Upvotes"></i>
                                    </div>

                                    <div class="col-sm-1">
                                        <i class="fas fa-thumbs-down" title="@item.Post_Downvotes"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 text-right">
                                <i>@item.User_ID</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>