@page
@model PineriverASPNETPage.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewData["PageDesc"] = "CS:GO GAMING COMMUNITY";

}

<div class="container">
    <div class="row mr-auto align-content-center">
        @foreach (var item in Model.Posts)
        {
            <div class="col-sm-12 card-container align-center">
                <div class="card custom-post-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <h5>@item.Subject</h5>
                            </div>

                            <div class="col-sm-6 text-right">
                                <i>@item.Added</i>
                            </div>
                        </div>

                        <p>@item.Message</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <form method="post">
                                            <input type="text" hidden asp-for="UpID" value="@item.ID" />
                                            <button class="btn btn-success" asp-page-handler="Up"><i class="fas fa-thumbs-up" title="@item.UpVotes"></i></button>
                                        </form>
                                    </div>

                                    <div class="col-sm-1">
                                        <form method="post">
                                            <input type="text" hidden asp-for="DownID" value="@item.ID" />
                                            <button class="btn btn-success" asp-page-handler="Down"> <i class="fas fa-thumbs-down" title="@item.DownVotes"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 text-right">
                                <i>@item.User</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>